<div class="container">
  <div class="row">
    <div ng-repeat="x in Products">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-success" style="width: 275px;">
          <div class="panel-heading" data-toggle="modal" style="cursor:pointer" data-target="#modalProduct" ng-click="UpdateModalProduct(x)">{{ x.Name }}</div>
          <div class="panel-body" data-toggle="modal" style="cursor:pointer" data-target="#modalProduct" ng-click="UpdateModalProduct(x)">
            <div class="row">
              <div class="col-xs-4">
                <div ng-product-image ng-model="x"></div>
              </div>
              <div class="col-xs-8">
                {{ x.Description }}
                <br> {{ x.Size }}
                <br> {{ x.Cost }}
              </div>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <div ng-paypal-button ng-model="x"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>