<div class="container">
  <div class="row">
    <div ng-repeat="x in Products">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">                             
        <div class="panel panel-success" style="width: 275px;" data-toggle="modal" data-target="#modalProduct" ng-click="UpdateModalProduct(x)">
          <div class="panel-heading">{{ x.Name }}</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4">
                  <div ng-product-image ng-model="x"></div>  
                </div>
                <div class="col-xs-8">
                  {{ x.Description }}<br>
                  {{ x.Size }}<br>
                  {{ x.Cost }}
                </div>
              </div>
            </div>
            <div class="panel-footer clearfix">
            <div class="pull-right">
              <div ng-paypal-button ng-model="x"></div>  
            </div>                   
          </div>
        </div>                   
      </div>
    </div>
  </div>
</div>

<!--<table  class="table table-striped table-bordered table-hover"  width="400">
  <tr ng-repeat="x in Products">
    <td width="1%"><div ng-product-image ng-model="x"></div></td>
    <td>
      <label>{{ x.Name }}</label><br>
      <label>{{ x.Description }}</label><br>
      <label>{{ x.Size }}</label><br>
      <label>{{ x.Cost }}</label><br>
      <div ng-paypal-button ng-model="x"></div>
    </td>
  </tr>
</table>-->